<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label class="welcome__text">
          <h1>{{ title }}</h1>
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-label class="intro__text">
          <h4>{{ subtitle }}</h4>
        </ion-label>
      </ion-col>
    </ion-row>    
    
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class='action__butns'>
          <ion-button [routerLink]="['/about']" shape="round" expand="full">About</ion-button>
          <ion-button [routerLink]="['/quick']" shape="round" expand="full">Quick Search</ion-button>
          <ion-button [routerLink]="['/join']" shape="round" expand="full">Join Search 23</ion-button>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
</ion-content>