<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../../assets/images/about-bg.jpg"></ion-img>
    <ion-card-header>
      <h1>Smart Panel Beaters</h1>
    </ion-card-header>
    <ion-card-content>
      <p>We are specialising in panel beating for all cars and models. Mr Nyathi General Manager 5462 Evaton West Ext 5 Mr Nyathi General Manager 5462 Evaton West Ext 5 Mr Nyathi General Manager 5462 Evaton West Ext 5</p>
    </ion-card-content>
    
    <ion-button>CANCEL</ion-button>
  </ion-card>

</ion-content>
