<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/welcome']" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-title>Change Password</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <div class="header__icon">
          <ion-icon name="lock-open"></ion-icon>
        </div>
        <ion-item lines="none">
          <ion-label>
            <h4>Change Password</h4>
            <p>Enter your password followed by <br>the confirmation and click save</p>
          </ion-label>
        </ion-item>
        <form>
          <ion-label>
            New Password
          </ion-label>
          <ion-input type="password"></ion-input>
          <ion-label>
            Confirm Password
          </ion-label>
          <ion-input type="password"></ion-input>
          <div class="btn">
            <ion-button shape="round" expand="full">Save</ion-button>
          </div>
        </form>        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

