ion-toolbar {
    --min-height: 105px;
    --background: #fd850d;
    color: white;
    padding: 0 37px;
}

ion-button ion-icon {
    color: #fff;
    font-size: 29.2px;
}

ion-title {
    font-weight: 300;
    font-size: 19px;
    color: #ffffff;
}

ion-content {
    background: #fff;
    color: #767577;
    --padding-top: 37px;
    --padding-start: 24px;
    --padding-end: 24px;
}

.otp__form {
    margin-bottom: 256px;
}

.form__header {
    font-weight: 300;
    font-size: 16px;
    color: #767577;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.form__header strong {
    font-weight: 700;
}

ion-input {
    --background: #edf2f9;
    height: 42px;
    font-weight: 300;
    font-size: 15px;
    text-indent: 21px;
    border: none;
    border-radius: 42px;
    margin-bottom: 20px;
}

ion-button {
    height: 42px;
    color: #ffffff;
    --background: #fd850d;
}

.query__header {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    color: #767577;
}

.query__links {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.query__links a {
    text-decoration: none;
    color: #51234d;
}